<?xml version='1.0' encoding='utf-8'?>
<plugin id="os-error-screen-change-plugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>os-error-screen-change-plugin</name>
    <hook type="before_plugin_install" src="www/install_dependencies.js" />

    <platform name="android">
        <hook type="after_prepare" src="www/change-error-android.js" />
     </platform>
    <platform name="ios">
        <hook type="after_prepare" src="www/change-error-ios.js" />
     </platform>
</plugin>
